# Lists

This is a list of basic commands of lists in Python

In [1]:
pets = ['coco', 'tito']
print(pets[0])
print(pets[1])   
print(len(pets))

coco
tito
2

In [2]:
brothers=['Hugo','Jean']
print(pets+brothers)

['coco', 'tito', 'Hugo', 'Jean']

## For and in

In [3]:
prime_num = [1, 2, 3, 5, 7, 11]
sum = 0
for num in prime_num: 
    sum += num
print(sum)

29

In [4]:
for i in range(len(prime_num)): # print every element of a list
    print(prime_num[i]),

1
2
3
5
7
11

In [5]:
x=pets+brothers
if 'tito' in x:
    print('Tito is here')

Tito is here

In [6]:
#another way to print every element
for ch in x: 
    print(ch)

coco
tito
Hugo
Jean

## Range

In [7]:
## print the pair numbers from 0 through 99
for i in range(100):
    if i%2==0 and i>0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [8]:
## print the pair numbers from 50 through 61
x=[]
for i in range(50,61):
    if i%2==0:
        print(i)
        x.append(i) #adds the element to the list x
print(x)

50
52
54
56
58
60
[50, 52, 54, 56, 58, 60]

## While

In [9]:
i = 0
while i < len(x): # access every second element in a list
    print(x[i])
    i = i + 2

50
54
58

## List Methods

In [10]:
pets = ['coco', 'tito']
pets.append('mimi') #adds a new element to the list
print(pets)

['coco', 'tito', 'mimi']

In [11]:
pets.insert(0,'pocho') #inserts a new element to the list in the given index
print(pets)

['pocho', 'coco', 'tito', 'mimi']

In [12]:
brothers=['Hugo','Jean'] 
pets.extend(brothers) #adds a second list to the end of the first one
print(pets)

['pocho', 'coco', 'tito', 'mimi', 'Hugo', 'Jean']

In [13]:
pets.index('mimi') # search for a element in a list and returns its index

3

In [14]:
pets.index('goncha')

ValueError: 'goncha' is not in list

In [15]:
pets.remove('pocho') #removes an element from a list
print(pets)

['coco', 'tito', 'mimi', 'Hugo', 'Jean']

In [16]:
pets.sort() #sorts the list
print(pets)

['Hugo', 'Jean', 'coco', 'mimi', 'tito']

In [17]:
pets.reverse() #reverses the list
print(pets)

['tito', 'mimi', 'coco', 'Jean', 'Hugo']

In [18]:
pets.pop(1) #removes the element of a given index

'mimi'